.our-services {
    /* background-color: var(
      --orbit-color-style-orbit-pry-blue-orbit-pry-blue-500-main
    ); */
    background-image: url('../../../images/servicesHomeBg.png');
    padding: 80px 80px;
    color: #fff;
  }
  
  .services-header {
    text-align: center;
    margin-bottom: 48px;
    position: relative;
  }
  
  .services-title {
    font-size: 48px;
    margin: 0;
  }

  .home-service-title {
    font-size: 28px;
    margin: 0;
  }

  .home-service-description {
    font-size: 22px;
    margin: 0;
  }
  
  .services-decoration-1,
  .services-decoration-2,
  .services-decoration-3 {
    position: absolute;
  }
  
  .services-decoration-1 {
    top: -20px;
    left: 20%;
  }
  
  .services-decoration-2 {
    top: 0;
    left: 30%;
  }
  
  .services-decoration-3 {
    top: 20px;
    right: 20%;
  }
  
  .services-grid {
    display: flex;
   
    /* flex-wrap: wrap;  */
    justify-content: space-evenly;
    
    align-items: center;
    gap: 24px;
    width: 100%;
    animation: slide-in 0.5s ease-out forwards;
   /* margin: 0 auto;  */
  }
  
  .service-item {
    background-color: #fff;
    border-radius: 10px;
    padding: 32px;
    width: 20%;
    height: 304px;
    font-size: x-small;
    max-height: 20rem;
    color: var(--orbit-color-style-slate-neutral-slate-neutral-600);
  }
  
  .service-link {
    color: var(--orbit-color-style-orbit-pry-blue-orbit-pry-blue-500-main);
    text-decoration: underline;
    font-size: 20px;
    margin-top: 16px;
    display: inline-block;
  }
  
  .services-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 48px;
  }
  
  .services-navigation {
    display: flex;
    gap: 24px;
  }

  @keyframes services-grid {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }