/* Base styles */
.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  /* background-color: #333; */
  /* color: white; */
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 0;
}

.nav-logo {
  font-size: 24px;
  font-weight: bold;
}

.mobile-menu-toggle {
  font-size: 24px;
  color: #475569;
  background: none;
  border: none;
  cursor: pointer;
  display: none;
  transition: transform 0.3s ease-in-out;
}

.mobile-menu-toggle.open {
  transform: rotate(90deg);
}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.nav-item {
  margin: 0 15px;
  opacity: 0;
  transform: translateY(-10px);
  animation: slideIn 0.3s forwards;
}

.nav-link {
  color: #475569;
  text-decoration: none;
  font-size: 16px;
}

.dropdown-icon {
  margin-left: 8px;
  width: 12px;
  height: 12px;
}

/* Mobile styles */
@media (max-width: 768px) {
  .nav-header {
    width: 100%;
  }

  .mobile-menu-toggle {
    display: block;
  }

  .nav-items {
    flex-direction: column;
  }

  .nav-items.open {
    max-height: 300px; /* Adjust this value based on the number of items */
    width: 30%;
    position: absolute;
    top: 80px;
    background-color: #F2FBFA;
  }

  .nav-item {
    margin: 10px 0;
    opacity: 0;
    animation: none;
  }

  .nav-items.open .nav-item {
    animation: slideIn 0.3s forwards;
  }

  .nav-link {
    font-size: 18px;
  }
}

/* Desktop styles */
@media (min-width: 769px) {
  .nav-items {
    flex-direction: row;
    max-height: none;
  }

  .nav-item {
    margin: 0 20px;
    opacity: 1;
    transform: translateY(0);
  }

  .nav-link {
    font-size: 16px;
  }
}

/* Animations */
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
