/* hero.css */

.hero {
  display: flex;
  background-image: url("../../../images/HeroBg2.png");
  background-size: cover;
  gap: 20px;
  /* desktop */
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  background-position: center;
  align-items: center;
}

.hero-content {
  max-width: 50%;
  /* padding: 20px; */
  padding-left: 100px;
}

.hero-text {
  text-align: left;
}

.hero-title {
  font-size: 3rem;
  line-height: 3.5rem;
  color: #fff;
}

.hero-subtitle {
  font-size: 1.25rem;
  color: #fff;
}

.hero-cta {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.hero-images {
  max-width: 50%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-image2 {
  width: 100%;
  height: auto;
  max-width: 100%;
}

/* Slider customization */
.slider {
  width: 100%;
  max-width: 100%; /* Limit slider width on larger screens */
}

/* Mobile Responsive Styling */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .hero-content {
    max-width: 100%;
    padding: 20px;
  }

  .hero-text {
    margin: 0 auto;
  }
  .hero-title {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 10px;
    color: #fff;
  }

  .hero-subtitle {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #fff;
  }

  .hero-cta {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .hero-images {
    width: 100%;
    max-width: 100%;
  }

  .hero-image2 {
    width: 100%;
    height: auto;
  }

  .slider {
    max-width: 100%; /* Ensure slider takes full width on mobile */
  }
}
